body{
    overflow: hidden;
}

main,#sidebar{
    height: calc(100vh - 70px);
}

main{
    margin-bottom: calc(100vh - 70px);
    /* Background */
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 0%, #414141 150%);
}

footer{
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
    width: 100vw;
}


/* BOX ASIDE AND MAIN */
.box {
  width: 50px;
  border-right: thin solid rgba(255,255 ,255,0.5);
}

.box1 {
  flex-basis: calc(100% - 50px);
}

#Playlist, .box{
    overflow-x: hidden;
    overflow-y:  auto;
}


/* Scroll main */
.scroll{
	overflow-y: auto;
	overflow-x: hidden;
}
.scroll::-webkit-scrollbar{
	-webkit-overflow-scrolling: auto;
	width: 6px;
}
.scroll::-webkit-scrollbar-thumb{
	border-radius: 4px;
    background-color: rgba(0,0,0,1);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* TODO: Metti in ordine questa sezione  */
/* scroll sidebar */
#Playlist::-webkit-scrollbar{
	-webkit-overflow-scrolling: auto;
	width: 3px;
}

#Playlist::-webkit-scrollbar{
	border-radius: 4px;
    background-color: rgba(0,0,0,1);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* BG-COLOR */
.bg-black{
    color: BLACK;
}

.bg-footer{
    background-color: #282828;
}

.bg-black{
    background-color: #000000;
}

/* Button Nav */
.my-btn-nav{
    border-radius: 1.25rem;
    /* color: #f8f9fa; */
    background-color: #000000;
    /* border-color: #f8f9fa; */
}

/* Icon Logo Spotify */
.fa-spotify{
    color: white;
    font-weight: 400;
}

.m-top-70px{
    margin-top: 70px;
}

/* utility */
.pos-relative{
    position: relative;
}
