body{
    overflow: hidden;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-family: 'Staatliches', cursive;
}

main,#sidebar{
    height: calc(100vh - 90px);
    width: 100%;
}

main{
    /* Background */
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 0%, #414141 150%);
    padding-left: 0;
    padding-right: 0;
}

footer{
    background-image: linear-gradient(0deg, #282828 0%, #000000 110%);
    /* background-color: #000000; */
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 100%;
    border-top: 1px groove white;
    /* box-shadow: 2px black; */
}

/* .border-solid-black{

} */


/* ********** BOX SIDEBAR AND MAIN ***********/
#sidebar {
  width: 50px;
  border-right: thin groove white;
}

main {
  flex: 1 1 calc(100% - 50px);
}
/* ------------------------------------------- */



/* *************  SIDEBAR ***************/
/* Button Sidebar */

#Nav-menu{

    border-bottom: 1px solid #00a000;
    max-width: 300px;
    min-height: 270px;
}

#Nav-Playlist{
    height: 100%;
    min-width: 70px;
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px groove #000000;
}

#Nav-Account-Downl{
    border-top: 1px solid #FFFFFF;
}


/* background playlist */
.Container-Playlist{
    min-width: 80px;
    background-image: linear-gradient(0deg, #282828 0%, #000000 110%);
    /* overflow-y: auto;
    overflow-x: hidden; */
    border-radius: 10px;
}

#List-Album-Create > li{
    color: #ffffff;
    padding: 1px 3px;
    margin-bottom: 5px;
}

#Nav-Account-Downl{
    margin-top:auto;
    margin-bottom: 10px;
}


#sidebar button{
    border: none;
}


#Nav-Playlist, #Nav-Account-Downl,#Nav-menu{
    padding: 0 15px;
}

.Icon-Border-Circle{
    border: 1px solid #FFFFFF;
    border-radius: 50%;

}



/* ****************  MAIN ********************/

/*------- Nav-Main-Fx-Top -------- */

#Container_NavMain-Fx-Top{
    border-bottom: 1px groove white;
    background-color: #000000;
}

.navbar {
    padding: 0.5rem 2rem;
    background-color: #000000;
}

/* BUTTON NEXT-BACK */
.div-btn-next-or-back{
    justify-content: flex-start;
}


/* -------- SECTION ALBUM ----------- */

main > [id^="Row-"] > .col-12 > *{
    text-align: center;
}


/* §********** MAIN SECTION THUMNAILS **************/



main > [id^="Row-"] .card-group > .card{
    border: none;
    background-color: transparent;
    display: flex;
	display: -webkit-flex;
	flex-direction: column wrap;
	-webkit-flex-direction: column wrap;
    align-items: stretch;
    padding: 20px;
    flex: 0 0 250px;
    justify-content: center;
    color: white;
}



main > [id^="Row-"] .card-group > .card > *{
    text-align: center;
    color: white;
}


main > [id^="Row-"] .card-group{
    display: flex;
	display: -webkit-flex;
    margin-top: 10px;
    margin-bottom: 50px;

    /* TODO: Cambiare per lo scrolling orizzontale */
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        overflow-x: auto;
        overflow-y: hidden;
    /* -----------------------------------------  */
}
/* ---------------------------------------------- */





/* ******* HOVER BUTTON PLAY *************/
main > [id^="Row-"] .card{
    position: relative;
}

main > [id^="Row-"] .card  > button{
    background-color: rgba(0, 0, 0,0.7);
    border-radius: 12px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;

    /* -----HIDDEN----- */
    visibility: hidden;
    /* ------------- */
}

/* --------PLAY VISIBLE------- */
main > [id^="Row-"] .card:hover > button{
    visibility: visible;
}
/* ---------------------------- */


main > [id^="Row-"] .card button:hover {
    transform: scale(1);
    background-color: linear-gradient(0deg, #282828 0%, #000000 110%);
}

main > [id^="Row-"] .card  > img{
    max-width: 100%;
    min-width: 80%;
}
/* ------------------------------------- */




/* ******* FOOTER *************/

/* IMPORTANT! FOOTER 3 D-FLEX */

/* Dimensione */
footer > #Controller-Track{
    width: 55vw;
}

footer > div:first-child,
footer > div:last-child{
    width: calc(45vw / 2);
}
/* ------------------------ */




footer #Song-in-progress .card{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 30px; */
    color: white;
}


footer #Song-in-progress .card img{
    height: 55px;
    width: 55px;
    border-radius: 5px;
}


/* Cascade color fa-icon */
.fa{
    color: white;
}

.fa-play-circle,.fa-volume-up{
    color: #00a000;
}

.fa-heart:hover{
    color: red;
}

.fa:hover{
    transform: scale(1.5);
    margin: auto 0;
}


/* Range time song */

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 3px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  /* transform: scale(1.2); */
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 50%;
  border: 2px solid #000000;
  background: #4CAF50; /* Green
   background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slidecontainer > div > p{
    flex: 0 1 10%;
    margin-bottom: 0px;
}

.slidecontainer> div > span{
    flex: 2 1 40%;
}








/* ********************* SCROLL *****************************/
/* Scroll CARD GROUP */
/* TODO: Uso didattico scrolling orizzontale card */
/* .card-group{
	overflow-y: hidden;
	overflow-x: scroll;
}
.card-group::-webkit-scrollbar{
	-webkit-overflow-scrolling: auto;
	width: 1px;
    height: 5px;
}
.card-group::-webkit-scrollbar-thumb{
    padding: 20px;
	border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 3  3px rgba(0,0,0,.5);
} */
/* ------------------------------------------------------------ */




/* ---------------Scroll Vertical Main (Classe Scroll)------------------------- */
.scroll{
	overflow-y: auto;
	overflow-x: hidden;
}
.scroll::-webkit-scrollbar{
	-webkit-overflow-scrolling: auto;
	width: 6px;
}
.scroll::-webkit-scrollbar-thumb{
	border-radius: 4px;
    background-color: rgba(0,0,0,1);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/* ------------------------------------------------------------- */



/* *************  UTILITY  *****************/

/* BG-COLOR */
.bg-black{
    color: BLACK;
}

.bg-footer{
    background-color: #282828;
}

.bg-black{
    background-color: #000000;
}



/* TEXT PROPERTY */

/* text-color */
.text-black{
    color: #000000;
}




/* ********** BUTTON PROPERTY ********* */

/* Button Nav */
.btn.my-btn-nav{
    color: #00a000;
    font-size: 1.4rem;
    border-radius: 1.25rem;
    border: 1px solid #00a000;
    background-color: transparent;
    padding: 0.285rem 2.3rem;
}



#sidebar button:hover{
    transform:  scale(1.2);
    background-color: black;
}

.btn{
    margin: 5px;
    padding: 0.285rem 0.30rem;
}




/* other */
.m-top-70px{
    margin-top: 70px;
}

.pos-relative{
    position: relative;
}


.p-left-8px{
    padding-left: 8px;
}

.diveder-green{
    border: 1px groove #00a000;
}


.text-green{
    color: #00a000;
}
