@media all and (max-width: 768px) {
    .box {
      width: 50px;
      min-width: 50px;
      max-width: 50px;
    }
}



@media all and (min-width: 768px) {
    body #sidebar.box {
      resize: horizontal;
      width: 300px;
      min-width: 100px;
      max-width: 400px;
    }

    .invisible#Text-logo {
        visibility: visible;
    }

}
