@media all and (max-width: 350px) {
    .div-btn-next-or-back{
        display: none;
    }

    .navbar-expand-lg{
        justify-content: center;
    }


}



@media all and (max-width: 768px) {
    #sidebar {
      width: 50px;
      min-width: 50px;
      max-width: 50px;
    }
}



@media all and (min-width: 768px) {
    body #sidebar {
      resize: horizontal;
      width: 300px;
      min-width: 100px;
      max-width: 400px;
      padding-left: 10px;
    }

    #Playlist, #sidebar {
        overflow-x: auto;
        overflow-y:  auto;
    }

    #Btn-Logo-SideBar > .fa.fa-spotify{
        font-size: 50px;
    }

    #Text-logo.invisible {
        visibility: visible!important;
    }

    .logo-Sidebar{
        height: 50px;
        width: 100%;
        max-width: 120px;
        color: white;
        display: inline-block!important;
        visibility: visible!important;
    }

    #Btn-Logo-SideBar{
        display: none;
    }
}
